html {
  height: 100%;
}

body {
  height: 100%;   
  overflow: hidden;
  margin: 0px;
}

/* .App {
  text-align: center;
  flex-grow: 1;
  min-height: 100vh;
} */

.App-header {
  background-color: #282c34;
  font-size: calc(6px + 2vmin);
  color: white;
}

.contents-container {
  display: flex;
  align-items: flex-start;
  height: calc(100vh - 50px);
}

.not-sidebar {
  flex-basis: 0;
  flex-grow: 2;
}

.top-container {
  display: grid;
  height: 100vh;
}