.editor-panel {
    height: 100%;
    border-color: grey;
    border-style: solid;
    border-width: thin;
}

textarea.md-textarea.form-control {
    min-height: 85vh;
    min-width: 35vw;
}

.md-form {
    position: relative;
    /* margin-top: 1.5rem;
    margin-bottom: 1.5rem; */
    margin: 1.5rem;
    height: 90%;
    width: 100%;
}

.submit-btn {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.form-group {
    position: relative;
    /* margin-top: 1.5rem;
    margin-bottom: 1.5rem; */
    margin: 1.5rem;
    height: 90%;
    width: 100%;
}

textarea {
    min-height: 85vh;
    min-width: 35vw;
}