.header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: lightblue;
}

.app-logo {
    height: 4vmin;
    pointer-events: none;
  }

@media (prefers-reduced-motion: no-preference) {
    .app-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}