.message-list {
    padding: 0px 0px 20px 20px;
    height: 100%;
    font-size: calc(10px + 1vmin);
  }

.message-header {
    font-size: calc(6px + 2vmin);
}

.message-list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.message-item {
    padding: 20px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}